.slider-wrapper {
  width: 100vw;
  height: 100vh; }
  .slider-wrapper .slider-slide {
    width: 100vw;
    height: 100vh; }
    .slider-wrapper .slider-slide-top {
      background: white;
      height: 55vh; }
    .slider-wrapper .slider-slide-bottom {
      background-image: linear-gradient(90deg, #7E09FC 0%, #09E3FF 100%);
      height: 45vh; }
  .slider-wrapper .number-icon-wrapper {
    padding: 10vh 0 0 0; }
    @media screen and (min-height: 480px) {
      .slider-wrapper .number-icon-wrapper {
        padding: 18vh 0 0 0; } }
    .slider-wrapper .number-icon-wrapper .number-icon {
      background-image: linear-gradient(45deg, #7E09FC 0%, #09E3FF 100%);
      margin: 0 auto;
      border-radius: 50%;
      width: 10vh;
      height: 10vh; }
      @media screen and (min-height: 480px) {
        .slider-wrapper .number-icon-wrapper .number-icon {
          width: 8vh;
          height: 8vh; } }
      .slider-wrapper .number-icon-wrapper .number-icon .number {
        display: block;
        text-align: center;
        color: white;
        font-size: 5vh;
        line-height: 10vh; }
        @media screen and (min-height: 480px) {
          .slider-wrapper .number-icon-wrapper .number-icon .number {
            font-size: 4vh;
            line-height: 8vh; } }
  .slider-wrapper .headline-wrapper .headline {
    text-align: center;
    line-height: 1.5;
    margin: 1vh 0 .5vh;
    font-size: 12vh; }
    @media screen and (min-height: 480px) {
      .slider-wrapper .headline-wrapper .headline {
        font-size: 6vh; } }
  .slider-wrapper .copy-wrapper .copy {
    text-align: center;
    color: #A9A9A9;
    margin: 0 0;
    font-size: 6vh; }
    @media screen and (min-height: 480px) {
      .slider-wrapper .copy-wrapper .copy {
        font-size: 2.5vh; } }
  .slider-wrapper .context-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
    .slider-wrapper .context-icon .icon {
      width: 18vh; }
      @media screen and (min-height: 480px) {
        .slider-wrapper .context-icon .icon {
          width: 14vh; } }
      .slider-wrapper .context-icon .icon img {
        max-width: 100%;
        height: auto; }
